@model IdentityRole

<form asp-action="Create" method="post">
    <div class="input-group mb-3">
        <input asp-for="Name" type="text" class="form-control" placeholder="Role Name ...">
        <button class="btn btn-outline-secondary" type="submit" >Create</button>
    </div>
</form>